.detail {
    position: relative;
    margin: 0 auto;
    padding-bottom: 92px;
    min-height: 100%;
    max-width: 1920px;
    background: url('../image/coupon/detail/bg-s.png') 50% 0/cover;
    @media (min-width: #{$tablet-width}px) {
        padding-bottom: 140px;
        background-image: url('../image/coupon/detail/bg-m.png');
    }
    @media (min-width: 1920px) {
        padding-bottom: 307px;
        background-image: url('../image/coupon/detail/bg.png');
    }
    .container {
        padding-right: 30px;
        padding-left: 30px;
        @media (min-width: #{$tablet-width}px) {
            margin: 0 auto;
            padding: 0;
            max-width: 690px;
        }
        @media (min-width: 1920px) {
            padding-right: 30px;
            padding-left: 30px;
            max-width: 1400px;
        }
    }
    .logo {
        position: absolute;
        top: 17px;
        left: 17px;
        width: 30px;
        @media (min-width: #{$tablet-width}px) {
            position: static;
            display: block;
            margin-right: 44px;
            width: 91px;
        }
        @media (min-width: 1920px) {
            position: absolute;
            top: 86px;
            left: percentage(102 / 1920);
            margin-right: 0;
            width: 155px;
        }
    }
    .subtitle {
        margin-bottom: 27px;
        padding-top: 56px;
        text-align: center;
        font-size: 21px;
        @media (min-width: #{$tablet-width}px) {
            display: flex;
            margin-bottom: 22px;
            font-size: 36px;
            transform: translateX(-40px);
            justify-content: center;
            align-items: center;
        }
        @media (min-width: 1920px) {
            margin-bottom: 77px;
            padding-top: 86px;
            font-size: 72px;
            line-height: 155px;
            transform: none;
        }
    }
    .title {
        text-align: center;
        font-size: 24px;
        @media (min-width: #{$desktop-width}px) {
            font-size: 40px;
        }
        @media (min-width: 1920px) {
            font-size: 60px;
        }
    }
    label {
        position: relative;
        display: flex;
        align-items: center;
    }
    [type=radio],
    [type=checkbox] {
        margin: 0;
        margin-right: 10px;
        width: 23px;
        height: 23px;
        outline: none;
        border: 1px solid #fff;
        border-radius: 4px;
        background-color: transparent;
        appearance: none;
        @media (min-width: #{$tablet-width}px) {
            margin-right: 20px;
            width: 28px;
            height: 28px;
            border-width: 3px;
        }
        @media (min-width: 1920px) {
            margin-right: 26px;
            width: 40px;
            height: 40px;
        }
    }
    .radio-mark,
    .checkbox-mark {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 23px;
        height: 23px;
        color: #e3ee00;
        transform: translateY(1px);
        justify-content: center;
        align-items: center;
        @media (min-width: #{$tablet-width}px) {
            width: 28px;
            height: 28px;
            font-size: 18px;
        }
        @media (min-width: 1920px) {
            width: 40px;
            height: 40px;
            font-size: 30px;
        }
        @at-root {
            .detail input:checked ~ .radio-mark,
            .detail input:checked ~ .checkbox-mark {
                display: flex;
            }
        }
    }
    .radio-desc,
    .checkbox-desc {
        padding-left: 33px;
        line-height: 1.5;
        @media (min-width: #{$tablet-width}px) {
            padding-left: 50px;
        }
        @media (min-width: 1920px) {
            padding-left: 66px;
        }
        &--electron {
            font-size: 14px;
            @media (min-width: 1920px) {
                font-size: 30px;
            }
        }
        &--triplicate {
            margin-bottom: 12px;
            @media (min-width: #{$tablet-width}px) {
                margin-bottom: 20px;
                font-size: 24px;
            }
            @media (min-width: 1920px) {
                margin-bottom: 30px;
                font-size: 36px;
            }
        }
        strong {
            color: #e3ee00;
        }
    }
    .field {
        position: relative;
        display: flex;
        margin-top: 16px;
        align-items: center;
        @media (min-width: #{$desktop-width}px) {
            margin-top: 25px;
        }
        @media (min-width: 1920px) {
            margin-top: 35px;
        }
        &:first-of-type {
            margin-top: 30px;
            @media (min-width: 1920px) {
                margin-top: 50px;
            }
        }
        &::before {
            flex: none;
            width: 21px;
            color: #f9ff26;
            content: '＊';
            font-size: 14px;
            @media (min-width: 1920px) {
                width: 48px;
                font-size: 30px;
            }
        }
        > input {
            flex: auto;
            padding: 0 0 0 20px;
            width: 100%;
            height: 30px;
            outline: none;
            border: 1px solid rgba(#fff, .5);
            border-radius: 25px;
            background-color: #fff;
            color: #fff;
            font-size: 14px;
            transition: background-color .15s;
            caret-color: #979797;
            appearance: none;
            @media (min-width: #{$desktop-width}px) {
                height: 45px;
                font-size: 20px;
            }
            @media (min-width: 1920px) {
                padding-left: 30px;
                height: 62px;
                border-radius: 31px;
                font-size: 36px;
            }
            &:focus,
            &.active {
                background-color: transparent;
            }
        }
        &__text {
            position: absolute;
            top: calc(50% - 7.5px);
            left: 40px;
            color: #a2a2a1;
            font-size: 14px;
            transition: .15s;
            pointer-events: none;
            @media (min-width: #{$desktop-width}px) {
                top: calc(50% - 10px);
                font-size: 20px;
            }
            @media (min-width: 1920px) {
                top: calc(50% - 15px);
                left: 78px;
                font-size: 36px;
            }
            @at-root {
                .detail .field > input:focus ~ .field__text,
                .detail .field > input.active ~ .field__text {
                    padding-right: 3px;
                    padding-left: 3px;
                    background-color: transparent;
                    color: rgba(#fff, .5);
                    font-size: 11px;
                    transform: translateY(-17px);
                    @media (min-width: #{$tablet-width}px) {
                        transform: translateY(-33px);
                    }
                    @media (min-width: #{$desktop-width}px) {
                        transform: translateY(-22px);
                    }
                    @media (min-width: 1920px) {
                        font-size: 21px;
                        transform: translateY(-33px);
                    }
                    &.main-style {
                        background-color: rgb(84, 82, 233);
                        @media (min-width: #{$tablet-width}px) {
                            background-image: linear-gradient(to right, rgb(80, 57, 210), rgb(73, 50, 202));
                        }
                    }
                    &.code-style {
                        background-image: linear-gradient(to right, rgb(76, 52, 204), rgb(46, 23, 169));
                        @media (min-width: #{$tablet-width}px) {
                            background-image: linear-gradient(to right, rgb(38, 16, 162), rgb(51, 29, 177));
                        }
                    }
                }
            }
        }
    }
    .fields {
        @media (min-width: #{$tablet-width}px) {
            margin: 0 auto 68px;
            width: 737px;
        }
        @media (min-width: #{$desktop-width}px) {
            width: 1200px;
        }
        @media (min-width: 1920px) {
            width: 1755px;
        }
        &__content {
            position: relative;
            @media (min-width: #{$tablet-width}px) {
                padding-top: percentage(460 / 737);
                background: url('../image/coupon/detail/form-bg-m.png') 50% 0/contain no-repeat;
            }
            @media (min-width: #{$desktop-width}px) {
                padding-top: percentage(1061 / 1755);
                background-image: url('../image/coupon/detail/form-bg.png');
            }
        }
    }
    .main {
        @media (min-width: #{$tablet-width}px) {
            position: absolute;
            top: 60px;
            left: 290px;
            padding-right: 0;
            padding-left: 0;
            width: 288px;
        }
        @media (min-width: #{$desktop-width}px) {
            top: 120px;
            left: 570px;
            width: 400px;
        }
        @media (min-width: 1920px) {
            top: 120px;
            left: 50%;
            width: 635px;
        }
    }
    .code {
        position: relative;
        margin-top: 23px;
        height: 219px;
        background: url('../image/coupon/detail/code-bg.png') no-repeat;
        @media (min-width: #{$tablet-width}px) {
            position: absolute;
            top: 300px;
            left: 50px;
            margin-top: 0;
            width: 193px;
            background: none;
        }
        @media (min-width: #{$desktop-width}px) {
            top: 460px;
            left: 190px;
            width: 300px;
        }
        @media (min-width: 1920px) {
            top: 670px;
            left: calc(50% - 610px);
            width: 473px;
        }
        &__form {
            position: absolute;
            top: 45px;
            left: 130px;
            width: 156px;
            @media (min-width: #{$tablet-width}px) {
                position: static;
                width: 100%;
            }
        }
        .title {
            margin-bottom: 20px;
        }
        input {
            @media (min-width: 1920px) {
                height: 84px;
                border-radius: 42px;
            }
            ~ .field__text {
                @media (min-width: 1920px) {
                    top: calc(50% - 21px);
                }
            }
        }
    }
    .invoice {
        position: relative;
        color: #fff;
        &::before,
        &::after {
            position: absolute;
            right: 30px;
            left: 30px;
            height: 2px;
            border-top: 2px dashed #979797;
            content: '';
            @media (min-width: #{$tablet-width}px) {
                right: 0;
                left: 0;
            }
        }
        &__title {
            margin-bottom: 45px;
            padding-top: 1em;
            text-align: center;
            font-size: 18px;
            @media (min-width: #{$tablet-width}px) {
                margin-bottom: 55px;
                padding-top: 30px;
                font-size: 26px;
            }
            @media (min-width: 1920px) {
                margin-bottom: 80px;
                padding-top: 50px;
                font-size: 36px;
            }
        }
        label {
            margin-bottom: 1em;
            font-size: 18px;
            &:not(:first-of-type) {
                margin-top: 1em;
            }
            @media (min-width: #{$tablet-width}px) {
                margin-bottom: .5em;
                font-size: 24px;
            }
            @media (min-width: 1920px) {
                font-size: 36px;
            }
        }
        .radio-desc {
            &:last-of-type {
                padding-bottom: 62px;
            }
            &.select {
                position: relative;
                @media (min-width: #{$tablet-width}px) {
                    width: 414px;
                }
                @media (min-width: 1920px) {
                    width: 546px;
                }
                &::before {
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    width: 10px;
                    height: 10px;
                    border-bottom: 2px solid #fff;
                    border-left: 2px solid #fff;
                    content: '';
                    transform: translateY(-60%) rotate(-45deg);
                }
            }
        }
        select {
            padding-left: 12px;
            width: 100%;
            height: 33px;
            outline: none;
            border: solid 1px #e6e6e6;
            border-radius: 4px;
            background-color: rgba(216, 216, 216, .17);
            color: #fff;
            font-size: 12px;
            appearance: none;
            @media (min-width: #{$mobile-width}px) {
                font-size: 14px;
            }
            @media (min-width: #{$tablet-width}px) {
                padding-left: 17px;
                height: 44px;
                border-width: 3px;
                border-radius: 7px;
                font-size: 17px;
            }
            @media (min-width: 1920px) {
                padding-left: 23px;
                height: 58px;
                font-size: 23px;
            }
        }
        [type=text] {
            padding-left: 12px;
            width: 100%;
            height: 33px;
            outline: none;
            border: solid 1px #e6e6e6;
            border-radius: 4px;
            background-color: rgba(216, 216, 216, .17);
            color: rgba(#fff, .5);
            font-size: 14px;
            appearance: none;
            @media (min-width: #{$tablet-width}px) {
                padding-left: 17px;
                width: 364px;
                height: 44px;
                border-width: 3px;
                border-radius: 7px;
                font-size: 21px;
            }
            @media (min-width: 1920px) {
                padding-left: 23px;
                width: 480px;
                height: 58px;
                font-size: 26px;
            }
            &::placeholder {
                color: rgba(#fff, .5);
                font-size: 14px;
                @media (min-width: #{$tablet-width}px) {
                    font-size: 21px;
                }
                @media (min-width: 1920px) {
                    font-size: 26px;
                }
            }
        }
    }
    .postscript {
        margin-bottom: 38px;
        padding-top: 37px;
        @media (min-width: #{$tablet-width}px) {
            margin-bottom: 120px;
            font-size: 24px;
        }
        @media (min-width: 1920px) {
            margin-bottom: 95px;
            font-size: 32px;
        }
        label {
            position: relative;
            display: flex;
            margin-bottom: .1em;
            color: #e8d74f;
            align-items: center;
        }
        .checkbox-desc {
            color: #fff;
            + .checkbox-desc {
                margin-top: 1em;
            }
            strong {
                color: #e8d74f;
            }
        }
    }
    [type=submit] {
        display: block;
        margin: 0 auto;
        width: 122px;
        height: 42px;
        border: none;
        border-radius: 7px;
        background-image: linear-gradient(to bottom, #dedeff, #6c6c80);
        color: #0f0e5e;
        font-weight: 500;
        font-size: 24px;
        cursor: pointer;
        @media (min-width: #{$tablet-width}px) {
            width: 164px;
            height: 50px;
            font-size: 33px;
        }
        @media (min-width: 1920px) {
            width: 263px;
            height: 74px;
        }
        &.disabled {
            opacity: .5;
        }
    }
}